@charset "UTF-8";

.table-title{
	font-weight: bolder;
	text-transform: uppercase;
	color: gray;
	font-size: 22px;
}

.login-table{
	margin-bottom: 15px;
	margin-left: 40%;
}

.table-row{
	margin: 10px;
}

.login-button{
	
}